<h2>Add New Countries to Your Travel Post It</h2>

<form class="" action="/countries" method="post">
    <label for="name">Country</label>
    <input type="text" name="name" value="Name of Country"
    <input type="submit" value="Add Country">
</form>