<h1> The moon is huge.  </h1>

<style>

li {
  display: inline;
}

</style>

<body>
    <ul>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/Countries">Countries</a></li>
        <li><a href="">Home</a></li>
    </ul>
</body>
<%= yield %>